.product-imgs img{
    width: 100%;
    display: block;
}
.img-display{
    overflow: hidden;
}
.img-showcase{
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}
.img-showcase img{
    min-width: 100%;
}
.container-img{
    width: 100px;
}
.container-img img{
    min-width: 100%;
}
.img-select{
    display: flex;
}
.img-item{
    margin: 0.3rem;
    width:100px;
    height:100px;
    overflow:hidden;
}
.img-item:nth-child(1){
    margin-left:0px;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
    margin-right: 0;
}
.img-item:hover{
    opacity: 0.8;
}

@media screen and (min-width: 992px){
    .product-imgs{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}